
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Font/GothamMedium.ttf");
}


*{
    text-decoration: none;
    font-family: "Gotham", sans-serif;
    color: #333333;
    box-sizing: border-box;
}
/*colors*/
:root{
    --btn_color: #FD435A;
    --grey: #646464;
    --yellow: #FDB44B;
    --page_bg: #ECFEFA #BEE9FF #DBEAFF #F3DBFF;
    --card-bg: #ECFEFA;
    --footer-bg: #BEE9FF;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
input{
    border: none;
}
#hamburger{
    border: none;
    background: transparent;
    display: none;
}
.btn{
    width: fit-content;
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
    background: rgba(253, 67, 90, 1);
    padding: 25px 50px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 7px solid rgba(253, 67, 89, 0.74)
}
.link__btn{
    text-transform: capitalize;
    color: #FD435A;
    background: transparent;
    border: 1px solid rgba(253, 67, 90, 1);
}
body{
    margin: 0;
    background: #E5E5E5;
}
.navbar{
    width: 100%;
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    gap: 35px;
}
.nav__item{
    text-transform: capitalize;
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
    list-style: none;
}
.nav__item:active a{
    color: #FD435A;
}
.nav__item:focus a{
    color: #FD435A;
}
.container{
    height: 800px;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.home__page__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: url("../images/banner/home.svg") no-repeat;
    background-size: contain;
    background-position: right top;
}
.title{
    max-width: 41.89%;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    margin: 0 0 32px;
}
.text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin: 0 0 32px;
}
.text__side{
    width: 53%;
    margin-left: auto;
}
.text__side .title{
    max-width: 100%;
}
.price{
    margin: 0 0 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #333333;
    display: block;
}
.price::first-letter{
    color: #FD435A;
}
.label{
    margin: 40px 0 53px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #333333;
}
.device-functions{
    margin: 0 0 40px;
    list-style-type: disc;
}
.device-functions li{
    font-size: 18px;
    letter-spacing: -0.011em;
    list-style: none;
    display: list-item;
}
.device-functions li:not(:last-child){
    margin-bottom: 22px;
}
.list__dot{
    height: 12px;
    width: 12px;
    background: var(--btn_color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.devices__content, .barcode__scanners__container{
    background: #fff;
}

/*BARCODE START*/
.barcode__scanners__container{
    display: flex;
    align-items: center;
}
.barcode__scanners__content{ 
    margin: 0 auto; 
    height: 521px;
    flex-direction: column;
    justify-content: center;
    background: url("../images/banner/scanner-5983142_1920\ 1.jpg") rgba(51, 51, 51, 1);
    background-blend-mode: multiply; /*backround imagani murakkab qiliw uchun*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.barcode__scanners__content__title{
    max-width: 60%!important;
    margin: 0 auto 62px;
    text-align: center;
    color: #fff;
}
.bare__content{
    display: none!important;
}
/*BARCODE END*/


/*FEATURES START*/
.features__content{
    margin-top: 135px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 136px;
}
.features__item{
    width: 339px;
    height: 435px;
    padding: 36px 20px;
    background: rgba(247, 247, 252, 1);
    box-shadow: 0px 4px 40px 0px rgba(253, 67, 90, 0.1);
    border-radius: 20px;
}
.features__item__img{
    width: 100%;
    height: 182px;
    display: grid;
    place-items: center;
}
.features__item__content{
    text-align: center;
    height: 50%;
}
.features__item__content .label{
    margin: 0 auto 11px;
}
.features__item__content .text{
    margin: 0;
}
/*FEATURES END*/



/*PRICING START*/
.pricing__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 103px;
}
.header{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.pricing__content__header__title{
    width: 100%;
    margin: 193px auto;
    text-transform: uppercase;
    font-size: 30px;
    /* identical to box height, or 39px */
    color: var(--btn_color);
}
.pricing__content__item{
    width: 487px;
    height: 665px;
    padding: 40px 0 40px 98px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(253, 67, 90, 0.1);
    border-radius: 20px;
}
.pricing__content__item .text{
    margin-bottom: 10px;
    color:rgba(253, 67, 90, 1);
}
.term__price{
    margin: 0 0 54px!important;
    color: #333333!important;
}
.term__price .price{
    margin: 0;
    font-size: 50px;
    display: inline-block;
}
.pricing__content__item .device-functions{
    margin: 0 0 50px;
}
.pricing__content__item .device-functions li:not(:last-child){
    margin-bottom: 25px;
}
.pricing__content__item .btn{
    margin: 0 0 0 13%;
    width: fit-content;
}
/*PRICING END*/


/*ADVERTICING START*/
.addvertising__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: url("../images/banner/Subscribe 1.svg") no-repeat;
    background-size: contain;
    background-position: right top;
}
.advertising__form{
    display: none!important;
}
/*ADVERTICING END*/


/*DEMO START*/
.quick__demo__title{
    margin: 25px 0 46px;
    max-width: 100%;
    font-size: 45px;
}
.quick__demo__next__title{
    margin: 0;
}
.res__title{
    display: none;
}
.res__btn{
    display: none;
}
.res__text{
    display: none;
}
.res__img{
    display: none;
}
.line{
    margin: 52px 0;
    width: 63.16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.line .text{
    margin: 0;
}
.red__line{
    display: inline-block;
    width: 390px;
    height: 2px;
    background-color: #fd435a;
}
.demo__form__content .text{
    margin: 26px  0;
}
.form{
    width: 32.05%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.form .btn{
    margin: 0 auto;
}
.input__label{
    margin: 0 0 10px;
    display: block;
    font-family: 'Gotham', sans-serif;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 14.3401px;
    line-height: 22px;
/* identical to box height, or 156% */
    letter-spacing: 0.597505px;
    color: #333333;
}
.input{
    height: 48.597042083740234px;
    width: 100%;
    padding: 12px 22px;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 11.1534px 27.8835px rgba(0, 0, 0, 0.05);
    border-radius: 11.9501px;
}
.input::placeholder{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.4361px;
    line-height: 22px;
/* identical to box height, or 156% */
    letter-spacing: 0.601504px;
    color: rgba(0, 0, 0, 0.2);
}
/*DEMO END*/

/*CONTACTS FORM START*/
.contacts__form__content{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: url("../images/banner/contacts-form.svg") no-repeat;
    background-size: contain;
    background-position: right top;
}
.contacts__form__title{
    margin: 41px 0 73px;
    max-width: 100%;
    font-size: 45px;
}
/*CONTACTS FORM END*/


/*LOGIN FORM START*/
.login__form__content, .sign__up__content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: url("../images/banner/Onboarding-pana 1.svg") no-repeat;
    background-size: contain;
    background-position: right top;
}
.login__form, .sign__up__form{
    column-gap: 52px;
}
.login__form .control{
    width: 100%;
}
.control {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14.3571px;
    line-height: 22px;
    letter-spacing: 0.598214px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 19.14px;
    width: 19.14px;
    background: #cccccc;
    border-radius: 4.79px;
    -webkit-border-radius: 4.79px;
    -moz-border-radius: 4.79px;
    -ms-border-radius: 4.79px;
    -o-border-radius: 4.79px;
}
.control input:checked ~ .control_indicator {
    background: var(--btn_color);
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox .control_indicator::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4.468rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #fd435a;
    border-radius: 3rem;
    opacity: 0.8;
    z-index: 20;
    transform: scale(0);
    font-family: 'Gotham' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.3571px;
    line-height: 22px;
    /* identical to box height, or 156% */
    letter-spacing: 0.598214px;
    color: #333333;
}
.remember__checkbox{
    display: none;
}
/*LOGIN FORM END*/



/*SIGN UP START*/
.sign__up__link, .login__link, .forgot__password__link, .input-alert{
    font-family: 'Gotham' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.3571px;
    line-height: 22px;
    /* identical to box height, or 156% */
    letter-spacing: 0.598214px;
    color: #333333;
    margin: 0 auto;
}
.forgot__password__link{
    margin: 0 0 0 auto;
}
.red{
    color: var(--btn_color);
}
.input-alert{
    visibility: hidden;
    margin: 3.27px 0 0;
}
.input:invalid{
    border: 1px solid var(--btn_color);
}
.input:invalid+.input-alert{
    visibility: visible;
}
.input:hover {
    border: 1px solid var(--btn_color);
}
.input:focus {
    border: 1px solid var(--btn_color);
}
.sign__up__success__content, .success__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: url("../images/banner/SuccessSignUp.svg") no-repeat;
    background-size: contain;
    background-position: right top;
}
.sign__up__success__content__title, .success__content__title{
    max-width: 51%;
    font-size: 45px;
}
.sign__up__success__content .login__link{
    margin: 106px 0 0;
}
.resend__link{
    display: none;
}
.advertising__start__form__content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@media (min-width: 0) and (max-width: 479px){

}