
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Font/GothamMedium.ttf");
}

/*colors*/
:root{
    --btn_color: #FD435A;
    --grey: #646464;
    --yellow: #FDB44B;
    --page_bg: #ECFEFA #BEE9FF #DBEAFF #F3DBFF;
    --card-bg: #ECFEFA;
    --footer-bg: #BEE9FF;
}
  

*{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: "Gotham";
    color: #333333;
    box-sizing: border-box;
    line-height: 130%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

h1{
    font-weight: bold;
    font-size: 48px;
}
h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--btn_color);
    margin: 193px auto;
    text-transform: uppercase;
}
h3{
    font-weight: bold;
    font-size: 25px;
}
p{
    font-size: 18px;
}
#hamburger{
    border: none;
    background: transparent;
    display: none;
}
.btn{
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    text-transform: uppercase;
    background: var(--btn_color);
    border: 7px solid rgba(161, 84, 93, 0.295)!important;
    color: #fff;
    padding: 25px 50px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

label{
    display: block;
    margin-bottom: 9px;
    font-size: 14.3401px;
    line-height: 22px;
    letter-spacing: 0.597505px;
}

input{
    height: 48.6px;
    width: 431px;
    padding: 13px 22px;
    background: #FFFFFF;
    box-shadow: 0px 11.1534px 27.8835px rgba(0, 0, 0, 0.05);
    border: none;
    outline: none;
    border-radius: 11.95px;

    -webkit-border-radius: 11.95px;
    -moz-border-radius: 11.95px;
    -ms-border-radius: 11.95px;
    -o-border-radius: 11.95px;
}

input:hover{
    border: 1px solid #00000080;
}

input:focus{
    border: 1px solid #00000080;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    outline: none!important;
}

input::placeholder {
    font-size: 14.3401px;
    line-height: 22px;
    letter-spacing: 0.597505px;
}
legend{
    position: relative;
    margin-bottom: 38px;
}

.input-alert {
    position: absolute;
    bottom: 3.27px;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: var(--btn_color)!important;
    display: block;   
}
  
input:invalid{
    border: 1px solid var(--btn_color);
}

legend{
    position: relative;
}
/*
.validity-alert{
    color: var(--btn_color)!important;
    position: absolute;
    top: 0;
    z-index: 25;
}
*/
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.section{
    width: 1593px;
    min-height: 800px;
    background: #F7F7FC;
    padding: 12px 150px 0;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
}
.nav{
    display: flex;
    padding: 0;
    list-style: none;
}
.resp-nav{
    display: none;
}
.nav-list a{
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
}
.nav-list a:hover{
    color: var(--btn_color);

}
.nav-list a:focus{
    color: var(--btn_color);

}
.nav-list:not(:last-child){
    margin-right: 35px;
}
.nav-list #sign-up-btn{
    width: 151px;
    height: 57px;
    padding: 20px 40px;
    color: #000000;
    border: 1px solid #000!important;
    border-radius: 50px;
    background-color: transparent;
    animation: Smart animate;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    -webkit-animation: Smart animate;
}
.nav-list #sign-up-btn:hover{
    color: var(--btn_color);
    border: 1px solid var(--btn_color)!important;
}

.banner{
    display: flex;
}

.text-side{
    width: 585px;
}

.home-banner .text-side{
    margin: 109px 45px 0 0;
}

.title{
    width: 585px;
    margin: 0;
}

.text-side p{
    margin: 32px 0;
}

.text-side .btn{
    width: fit-content;
    height: fit-content;
    padding: 25px 50px;
    margin: 0 8px;
}

.text-side .number{
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
}

.text-side .number span{
    color: var(--btn_color);
}

.products-banner .img-side{
    width: 426px;
    margin: 130px 178px 0 0;
}
.products-banner .text-side{
    margin: 180px 0 0;
}

.devices-banner{
    margin: 187px 0 0 46.8%;
}
.offline-desktop-banner{
    margin: 217px 0 0 46.8%;
}

.device-conception{
    margin: 15px 0 24px!important;

}

.device-functions{
    padding-left: 20px;
    list-style-type: disc;

}

.device-functions li{
    font-size: 18px;
    letter-spacing: -0.011em;
    margin-bottom: 25px;
    list-style: none;
    display: list-item;
}
.device-functions li:not(:last-child){
    margin-bottom: 25px;
}

.device-functions li:before{
    content: "";
    color: var(--btn_color);
	border: 4px solid var(--btn_color)!important;
	border-radius: 50px;
	margin-top: 7.5px;
	margin-left: -20px;
	position: absolute;
    background-color: var(--btn_color);
}


.devices-banner .text-side .number{
    margin: 40px 0 64px;
}
.text-side .number{
    margin: 0 0 45px;
}

.barcode-scanners-banner{  
    height: 521px;
    background-color: #fff;
    margin: 150px auto 0!important;
    background: url("../images/banner/scanner-5983142_1920\ 1.jpg") rgba(51, 51, 51, 1);
    background-blend-mode: multiply; /*backround imagani murakkab qiliw uchun*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.barcode-scanners-banner .text-side{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.barcode-scanners-banner .text-side .title{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.barcode-scanners-banner .text-side .btn{
    margin: 62px 0!important;
}

#pricing-features-page{
    height: 2400px;
}

.cards-banner{
    display: flex;
    flex-direction: column;
}

.features-1-row{
    margin: 147px 0 136px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.features-2-row{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.features-2-row .card{
    margin: 0 67.5px;
}

.pricing-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card{
    box-shadow: 0px 4px 40px rgba(253, 67, 90, 0.1);
    border-radius: 20px;
}
.features-card{
    height: 435px;
    width: 339px;
    background: #F7F7FC;
    padding: 20px;
}

.features-card .card-header{
    width: 100%;
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-card .card-body h3, .features-card .card-body p{
    text-align: center;
}
.features-card .card-body p{
    margin: 11px 0;
}


.pricing-cards-banner{
    display: flex;
    flex-direction: column;
}
.pricing-cards-banner .res-title{
    color: var(--btn_color);
    text-align: center;
    margin: 193px auto;
}


.pricing-card{
    position: relative;
    height: 665px;
    width: 487px;
    padding: 40px 99px;
    background: rgba(255, 255, 255, 1);
    margin: 0 51.5px 68px;
}

.discount{
    position: absolute;
    top: 40px;
    left: 99px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: var(--btn_color);
}

.pricing-card p{
    margin: 24px 0 54px;
    font-weight: bold;
    font-size: 50px;
    color: var(--btn_color);
}

.pricing-card p span{
   color: #000;
}

.pricing-card p span:last-child{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.pricing-card .card-footer{
    padding-top: 50px;
}

.addvertising-banner .text-side{
    margin: 138px 35px 0 0;
}

.addvertising-form-banner .text-side{
    width: 100%;
}


.addvertising-form-banner .text-side h3{
    margin: 53px 0;
}

.addvertising-form .text-side .btn{
    margin: 31px 110px!important;
}

.line{
    margin: 56px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.line p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #000000;
    margin: 0 21px;
}
.line hr{
    width: 390px;
    margin: 0;
    border: 2px solid var(--btn_color);
    background-color: var(--btn_color);
}

.quick-demo{
    margin: 38px 0 46px;
}
.form-section{
    height: 1600px;
}

.contacts-form-banner .text-side h1{
    margin-bottom: 73px!important;
}

.contacts-form-banner .text-side{
    width: 100%;
}
.contacts-form-banner .img-side{
    margin-top: 65px;
}







.control {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14.3571px;
    line-height: 22px;
    letter-spacing: 0.598214px;
    margin: 44px 0;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 19.14px;
    width: 19.14px;
    background: #cccccc;
    border-radius: 4.79px;
    -webkit-border-radius: 4.79px;
    -moz-border-radius: 4.79px;
    -ms-border-radius: 4.79px;
    -o-border-radius: 4.79px;
}


.control input:checked ~ .control_indicator {
    background: #fd435a;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox .control_indicator::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4.468rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #fd435a;
    border-radius: 3rem;
    opacity: 0.8;
    z-index: 20;
    transform: scale(0);
}
.remember-checkbox{
    display: none;
}

.forgot-password{
    margin-left: 145px;
    font-weight: bold;
    font-size: 14.3571px;
    line-height: 22px;
    letter-spacing: 0.598214px;
    color: var(--btn_color);
}

.login-form .btn{
    margin: 46px 0 38px 115px;
}

.sign-up{
    font-size: 14.3571px;
    line-height: 22px;
    letter-spacing: 0.598214px;
    margin: 0 80px;
}
.sign-up span{
    color: var(--btn_color);
}
.login-banner{
    margin-top: 100px;
}

#agree-checkbox .forgot-password{
    margin-left: 5px;
}
#agree-checkbox{
    margin:0 40px ;
}

.sign-up-success-banner .text-side{
    margin: 113px 0 0;
    width: 690px!important;
}
.sign-up-success-banner .text-side .title{
    width: 100%!important;
    font-weight: bold;
    font-size: 45px!important;
}
.sign-up-success-banner .text-side button{
    margin: 81px 0;
}
.sign-up-success-banner .text-side a{
    margin: 0;
}

.res-text{
    display: none;

}


#product-page{
    padding-bottom: 140px;
}


.res-img{
    display: none;
 
}
.res-label{
    display: none;
}


.mini-cards-banner{
    display: none;
}

.res-barcode-product{
    display: none;
}
.addvertising-form-text{
    display: none;
}
.res-contacts-form-title{
    display: none;
}
.demo-form-banner .text-side a{
    display: none;
}
@media (min-width: 0) and (max-width: 375px){
    h1{
        font-weight: bold;
        font-size: 39px;
    }
    h3, .res-title{
        display: block!important;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        margin: 15px auto 30px;
        text-align: center;
    }
    h4{
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        color: #263238;
    }
    p{
        font-size: 16px;
    }

    label{
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.440991px;
    }
    
    input{
        height: 39.07px;
        width: 318.46px;
        padding: 10px 17px;
        border-radius: 8.82px;
        -webkit-border-radius: 8.82px;
        -moz-border-radius: 8.82px;
        -ms-border-radius: 8.82px;
        -o-border-radius: 8.82px;
}
    
    input:hover{
        border: 1px solid #00000080;
    }
    
    input:focus{
        border: 1px solid #00000080;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.75px;
        outline: none!important;
    }
    
    input::placeholder {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.440991px;
        color: rgba(0, 0, 0, 0.2);
    }
    legend{
        position: relative;
        margin-bottom: 34px;
    }
    
    .input-alert {
        position: absolute;
        bottom: 3.27px;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: var(--btn_color)!important;
        display: block;   
    }
      
    input:invalid{
        border: 1px solid var(--btn_color);
    }
    
    legend{
        position: relative;
    }
    .section{
        width: 100%!important;
        min-height: 100%!important;
        padding: 0;
        position: relative;
    }
    .navbar{
        height: 120px;
        background: #F7F7FC;
        box-shadow: 0px 4px 35px rgba(158, 112, 112, 0.1)!important;
        padding: 60px 26px 0;

    }
    #hamburger{
        display: initial;
        margin: 0 6px;
    }
    .nav{
        display: none!important;
    }
    .resp-nav{
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        min-height: 812px;
        background: #263238;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 200;
        background-image: url("../images/banner/res-nav-bg1.svg"), url("../images/banner/res-nav-bg2.svg"), url("../images/banner/res-nav-bg3.svg");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 0 0, 0 400px, 0 640px;
    }
    .resp-nav .nav-list{
        margin: 0 0 30px;
    }
    .resp-nav .nav-list a{
        font-weight: bold;
        font-size: 20px;
        line-height: 19px;
        color: #fff!important;
    }
    .resp-nav .nav-list:nth-child(7){
        height: 2px!important;
    }
    .resp-nav .nav-list:last-child{
        margin-top: 24px;
    }
    .res-nav-line{
        width: 153px;
        height: 0px;
        border: 1px solid var(--btn_color);
        margin: 3px 0;
    } 
    .text-side{
        width: 100%;
        margin: 0!important;
        background-color: unset;
    }
    .btn{
        margin: 0 auto!important;
        padding: 20px 50px;
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
    }
    .img-side{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .res-text{
        display: init;
    }
    .banner, .mini-cards-banner{
        min-height: 692px;
        padding: 26px 26px 0;
        display: flex;
        flex-direction: column;
        background-image: url("../images/banner/bannerbg1.svg"), url("../images/banner/bannerbg2.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: 50px -123px, 0 485px;
        overflow: hidden;
    }
    .banner .text-side .title{
        width: 100%;
    }
    .home-banner .text-side p{
        margin: 40px 0;
    }
    .home-banner .text-side p br{
        display: none;
    }
    .home-banner .text-side .btn{
        margin: 50px auto;
    }
    .img-side img{
        display: none;
    }
    .res-text{
        display: initial;
        margin: 0 0 25px;
    }
    .res-img{
        display: initial!important;
        width: 156px;
    }

    #pricing-features-page{
        min-height: 100%!important;
    }
    .pricing-cards-banner{
        padding: 0;
    }
    .res-title{
        color: #263238;
        margin: 15px auto 30px!important;
    }
    .res-label{
        margin: 0 auto 37px;
        display: initial;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #263238;
    }
    .features-1-row, .features-2-row{
        display: none;
    }
    .pricing-card{
        height: 417px;
        width: 223px;
        padding: 24px;
        background: #F7F7FC;
        margin: 0 auto 104px;
    }
    .discount{
        padding: 2px 6px;
        border-radius: 2px;
        top: 20px;
        left: 24px;
        font-weight: bold;
        font-size: 10px;
        color: #FFFFFF;
        background-color: var(--btn_color);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .pricing-card p{
        margin: 20px 0;
        font-size: 25px;
    }
    .pricing-card p span{
       color: #000;
    }
    .pricing-card p span:last-child{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
    }
    .device-functions{
        padding: 0;
        margin: 0;
    }
    .device-functions li{
        font-size: 12px;
        color: #000000;
        list-style-type: none;
    }
    .device-functions li:not(:last-child){
        margin-bottom: 15px;
    }
    .device-functions li:before{
        content: "";
        color: var(--btn_color);
        border: none!important;
    }
    .pricing-card .card-footer{
        padding-top: 0;
    }
    .pricing-card .card-footer button{
        padding: 15px 30px!important;
        margin: 37px auto;
    }
    #product-page{
        padding: 0;
    }
    #product-page .banner{
        display: none;
    }

   
    .mini-cards-banner{
        padding: 37px 0!important;
        height: 100%!important;
    }
    .res-mini-card{
        background: #F7F7FC;
        width: 100%;
        padding: 24px 24px 10px;
        height: 120px;
        width: 321px;
        border-radius: 20px;
        margin: 0 auto;
        margin-bottom: 30px;
        box-shadow: 0px 4px 40px rgba(38, 50, 56, 0.1);
    }
    .res-mini-card .card-header{
        display: flex;
        margin-bottom: 12px;
    }
    
    .res-mini-card .card-header img{
        margin-right: 17px;
    }
    .res-mini-card .card-header h3{
        margin: 0;
    }
    .product-text{
        font-size: 12px;
    }
    .product-text a{
        color: var(--btn_color);
    }

    #barcode-page{
        display: flex!important;
    }
    .devices-banner{
        margin: 0;
    }
    .res-barcode-product{
        display: block!important;
    }

    .res-mini-carousel{
        display: block;
    }
    .res-product-page-title{
        margin: 0;
    }
    .res-product-page-title+.product-text{
        margin: 13px 0;
    }
    .res-device-functions{
        padding-left: 20px;
        list-style-type: disc;
    
    }
    
    .res-device-functions li{
        font-size: 12px;
        letter-spacing: -0.011em;
        margin: 12px 0;
        list-style: none;
        display: list-item;
    }
    
    .res-device-functions li:before{
        content: "";
        color: #000;
        border: 4px solid #000!important;
        border-radius: 50px;
        margin-top: 4px;
        margin-left: -15px;
        position: absolute;
        background-color: #000;
    }


    .res-number{
        font-weight: bold;
        font-size: 25px;
        line-height: 24px;
        color: var(--btn_color);
        margin: 22px 0 70px!important;
    }
    
    .res-number span{
        color: #333333!important;
    }
    .res-number + .btn{
        margin: 30px auto!important;
    }
    .back{
        margin: 10px 140px!important;
        color: var(--btn_color);
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
    }


    
    .form-section{
        height: 100%;
    }
    .addvertising-form-banner .text-side h3:first-child{
        display: none;
    }

    .quick-demo{
        display: none;
    }

    .demo-form-banner .text-side button{
        display: none;
    }
    .demo-form-banner .text-side a{
        display: block;
        margin-top: 40px;
    }  

    .line{
        margin: 41px 0;
    }
    .demo-form-banner .text-side .line p{
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.75px;
        color: #333333;
        margin: 0 8px;
    }
    .line hr{
        width: 137px;
    }
    .line +.res-title{
        margin: 0!important;
        text-align: left;
        padding-right: 10px;
    }
    .demo-form-banner .text-side p{
        margin: 22px 0 41px;
        font-size: 15px;
    }  
    .success-banner p{
        display:none;
    }

    .success-banner{
        background-image: url("../images/banner/bannerbg1.svg"), url("../images/banner/bannerbg2.svg"), url("../images/undraw_Powerful_re_frhr\ 1.svg");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 50px -123px, 0 485px, 0 395px;
        z-index: 1, 1, 2;

    }
    .success-banner .text-side .res-title{
        margin: 120px 0 47px!important;
    }
    .sign-up-success-banner .text-side .res-title{
        width: 313px!important;
        margin: 75px auto 54px!important;
        font-weight: bold;
        font-size: 20px!important;
        text-align: center;
    }
    .sign-up-success-banner .text-side {
        margin: 0;
        width: 100%!important;
    }
    .sign-up-success-banner button{
        display: none;
    }
    
    .reset{
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.440991px;
        text-align: center;
        margin: 50px 100px!important;

    }
    .reset img{
        margin-right: 11px;
    }
    .sign-up{
        margin: 50px 36px!important;
        text-align: center;
    }
    .input-alert{
        display: none;
    }
}